<!DOCTYPE html>
<html>
<head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>
MyGospel.uk -- {{ pageTitle }}
</title>
</head>
<body>
<div class=jumbotron align=center><h1><a href="/">MyGospel.uk</a></h1><p class=lead> -- {{ pageTitle }}</p></div>	
<center><div class=container max-width=60%>
<center>
	{{ content }}
</center>
</div></center>
</body>
</html>
